@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To <b>Komas</b></h1>
    <p>This is an E-Commerce website</p>
    <div>
        <a asp-page="/Catalogue/Index">
            <p>View Catalogue</p>
        </a>
    </div>
</div>
